<div class="navigatebar">
    <div class="navigatebar-button navigatebar-mine">
        <a href="{{ site.url }}/index.html">听雨楼</a>
    </div>
    <div class="navigatebar-slogan">
        「小楼一夜听春雨，深巷明朝卖杏花」
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/index.html">Home</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/tags.html">Tags</a>
    </div>

    <div class="navigatebar-button navigatebar-about">
        <a href="{{ site.url }}/about.html">About</a>
    </div>
</div>
